@charset "UTF-8";

*{
	padding: 0px;
	margin: 0 auto;
}

.intro_top{
	width:100%;
	height:380px;
	background-image: url("/subway/img/menu_h_img01.jpg");
	text-align: center;
}

.midUl_div{
	width:100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8); 
}

.midUl{
	padding-top: 20px;
	padding-bottom: 20px;
	width:300;
	display: flex;
	justify-content: center;
}

.midUl li{
	margin-left:40px;
	color: white;
}

.categoryselect{
	color: yellow !important; 
	border-bottom: 3px solid yellow;	
}

.intro_top_content {
	color:white;
	margin-top:30px;
}

.intro_top h1{
	font-size: 70px;
	margin-bottom: 30px;
}

.menuUl_div{
	position:relative;
	margin: 0 auto;
	margin-top : 70px;
	width:70%;
	padding:30px;
	background-color: white;
}

.menuUl{
	width:1200px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.menuUl li{
	margin-left:50px;
}

.intro_bottom{

	background-color: #F2F2F2;
	padding-top: 70px;
	height:1200px;

}

.products{
	width:1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.product{
	margin-left:20px;
	margin-bottom: 20px;
	padding:20px;
	width:28%;
	height:330px;
	background-color: white;
	text-align: center;
}

.product img{
	width: 80%;
	height: 200px;
}

.product h3{
	font-size: 22px;
}

.product p{
	font-size: 16px;
}

.categorydetailsselect{
	color: #E95B1D !important; 
	border-bottom: 3px solid #E95B1D;		
}




/* 장바구니 출력 구역 */
.cartbox{
	margin: 0 auto;
	width:1200px;
	height: 260px; 
	border : none;
	background-color: white; 
	
}

/* 장바구니 상단 부분 */
.carttop{
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
}

/* 장바구니 내 제품수 원형 */
.ccount{
	background-color: red;
	border-radius: 15px;
	font-size: 13px;
	display: inline-block; /* inline-block : 사이즈적용 o, 한줄차지x */
	width: 30px;
	text-align: center;
	color: white;
	margin-left: 5px;
}

/* 장바구니 내 제품 총금액 */
.ctotal{ font-weight: bold; color: red; }



/* 장바구니 내 제품 출력 구역 */
.cartbottom{
	display: flex;
	overflow-x: scroll;
	height: 153px;
}

/* 장바구니 내 제품 1개 */
.citem{
	width: 25%; min-width: 25%;/* 플랙스로 줄어드는 사이즈를 방지하기위해 최소사이즈 설정함 !  */
	background-color: #F2F2F2;
	border-radius: 10px;
	padding: 10px;
	margin: 5px 10px 20px 10px;
}
.citem{ position: relative; }
.icencel{ 
	font-weight: bold;
	position: absolute; 
	top: 7px; right: 10px; 
	cursor: pointer;
}
.iname{ width: 80%; height: 70px; }
.iprice{ color: red; }



/* 장바구니 내 버튼 */
.cartbtn{ 
	display: flex;
}
.cencelbtn, .orderbtn{
	border: none;
	width: 50%; height: 46px;
	font-size: 23px;
	font-weight: bold;
}

.cencelbtn{background-color : #FFC20D;}
.cencelbtn:hover{background-color : #ECB100;}
.orderbtn{background-color : #009132;}
.orderbtn:hover{background-color : #00792B;}